.table {
  background-color: #ffe8ddcb;
  border-collapse: collapse;
  margin: 2rem;
  height: 60vh;
  overflow-y: scroll;
  display: block;

  &__head {
    color: white;
    width: 20%;
    // position: sticky;
  }

  &__header {
    font-size: 3rem;

    &__col {
      padding: 0 1em;
      top: 0;
      position: sticky;
      background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
      z-index: 1;
    }
  }

  &__rows {
    font-size: 16px;
    // height: fit-content;
    text-align: center;
    // margin: 0.2rem 2rem;
    vertical-align: middle;

    &_uneven {
      background-color: #f9f9f9;
    }

    &_single {
      border-bottom: solid #f59a83 1px;
    }
  }

  &-image {
    &__link {
      &:link,
      &:visited {
        display: flex;
        align-items: center;
        padding: 0.3rem 1.1rem;
        transition: all 0.3s;
        border-right: 1px solid #fff;
        text-decoration: none;
        transition: transform 0.5s;
      }

      &--active {
        background-color: $color-grey-light-1;
      }
    }

    &__fig {
      flex: 0 0 3rem;
      border-radius: 50%;
      overflow: hidden;
      height: 3rem;
      margin-right: 2rem;
      position: relative;
      backface-visibility: hidden;
      &:hover {
        background-color: $color-grey-light-1;
        transform: scale(1.2);
      }

      &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(
          to right bottom,
          $color-grad-1,
          $color-grad-2
        );
        opacity: 0.4;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s;
      }
    }

    &__data {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 2rem;
      row-gap: 0.1rem;
      align-items: center;
    }

    &__title {
      grid-column: 1/-1;
      font-size: 1.45rem;
      color: $color-primary;
      text-transform: uppercase;
      font-weight: 600;

      // This is how text is truncated!
      text-overflow: ellipsis;
      max-width: 25rem;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.checkbox {
  height: 20px;
  width: 20px;
  border: solid 1px #f59a83;
}

// Custom checkbox

/* Customize the label (the container) */
.orange-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  // margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // margin-top: 2px;
}

/* Hide the browser's default checkbox */
.orange-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: white;
  border: solid 1px #f59a83;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.orange-checkbox-container:hover input ~ .checkmark {
  background-color: rgb(243, 199, 199);
}

/* When the checkbox is checked, add a orange background */
.orange-checkbox-container input:checked ~ .checkmark {
  background-color: #f48982;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.orange-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.orange-checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
